<form class="ui inverted center aligned stacked segment form" action="/dashboard/addbookmark" method="POST">
  <div class="field">
    <label>Title Of Section</label>
    <input placeholder="Title" type="text" name="title">
  </div>
  <button class="ui orange submit button">Add Bookmark Section</button>
</form>

