{{> menu id="about"}}

<section class="ui center aligned middle aligned inverted segment">
  <p>
    <h1>The best Gomix app for saving your "wanted" bookmarks and its much better than a bookmark bar because its an app!</h1>
    <br>
    <h2>Development Headquaters<h2>
    <div id="location">
      <img src="https://cdn.gomix.com/53e6d68c-0654-4b90-bc14-a55a531975fe%2Flocation.jpg" alt="Location Img" height= 20% width= 100%>
    </div>
  </p>
  <p>
      <h4>Contact:</h4> Don-auld Trump<br>
      Trump tower in new york<br>
      Tel: 088-8080028
  </p>
  <h2>Want to leave a comment for the developer?</h2>
  {{> addcomment}}
  {{> listcomments}}
</section>