{{> menu}}

<section class="ui center aligned middle aligned inverted segment">
  <h1 class="ui inverted header">
    Gomark v "James"
  </h1>
  <p>
    <h3>This app is made to let you save your "FAVOURITE" WebDev related bookmarks.</h3>
  </p>
  <p>
    This app currently holds {{size}} bookmarks.
  </p>
  <br>
  <img src="https://cdn.gomix.com/53e6d68c-0654-4b90-bc14-a55a531975fe%2Fjavascript.png" alt="Web logos" height="300" width="512">
</section>